.table>:not(caption)>*>* {
    background-color: transparent;
    /* color: rgb(255, 255, 255); */
}

.model-wrapper {
    background-color: rgba(126, 126, 126, 0.5);
    backdrop-filter: blur(5px);
    color: white;
}

.text-green {
    background-color: #e3f2fd;
    color: rgb(255, 255, 255);
}

h2,
button,
input {
    font-family: "Dangrek", sans-serif;
    font-weight: 600;
    font-style: normal;
}