<div class="container-fluid">
    <div class="row p-lg-4">
        <div class="col-lg-4 col-12">
            <div>
                <h2 class="animate__animated animate__bounce animate__rubberBand">----- តារាងកម្ចៃប្រាក់-----</h2>
                <div class="wrapper-input row ">
                    <div class=" col-lg-12 col-6 mb-2">
                        <label for="price">Price ($):</label>
                        <input id="price" type="number" [(ngModel)]="priceInput">
                    </div>

                    <div class=" col-lg-12 col-6 mb-2">
                        <label for="interestRate">Interest Rate (decimal):</label>
                        <input id="interestRate" type="number" [(ngModel)]="interestInput" step="1">
                    </div>
                    <div class=" col-lg-12 col-6 mb-2">
                        <label for="duration">Duration (months):</label>
                        <input id="duration" type="date" [(ngModel)]="startDate">
                    </div>

                    <div class=" col-lg-12 col-6 mb-2">
                        <label>Duration (months):
                            <select [(ngModel)]="selectedDuration">
                                <option *ngFor="let m of [].constructor(36); let i = index" [value]="i + 1">{{ i + 1 }}
                                    Month
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button class="btn btn-primary"
                        (click)="[calculatePayments(),checkSucessfull()]">ផ្លាស់ប្តូរកម្ចៃប្រាក់</button>
                </div>
            </div>
        </div>
        @if (payments.length >0) {
        <div class="col-lg-8 col-12">
            <div class="container-lg container-fluid">
                <table class="table mb-0">
                    <thead class="tableheader ">
                        <tr>
                            <th>តម្លៃ</th>
                            <th>រយះពេល</th>
                            <th>ការប្រាក់</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{price| currency:"USD"}}</td>
                            <td>{{duration}}</td>
                            <td>{{interestRate}}%</td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table mt-0">
                    <thead>
                        <tr class="tableheader">
                            <th>ខែ</th>
                            <th>តម្លៃថ្លៃដើម</th>
                            <th>ការប្រាក់</th>
                            <th>តម្លៃសរុប</th>
                            <th>កាលបរិច្ឆេទ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (payment of payments; track $index) {
                        <tr [class.bgsky]="payment.isOddRow" [class.text-green]="!payment.isOddRow">
                            <td>{{ payment.no }}</td>
                            <td>{{ payment.principal }}</td>
                            <td>${{ payment.interest.toFixed(2) }}</td>
                            <td>${{ payment.total.toFixed(2) }}</td>
                            <td>{{ payment.payDate | date: 'yyyy-MM-dd'}}</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="tableheader">
                            <td colspan="2"><strong>ការប្រាក់សរុប</strong></td>
                            <td colspan="4">{{ totalInterest | currency:"USD"}}</td>
                        </tr>
                        <tr class="tableheader">
                            <td colspan="2"><strong>តម្លៃសរុប</strong></td>
                            <td colspan="4">{{ totalAmountPaid.toFixed(2) | currency:"USD" }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        }
    </div>